mixin sAddInfo(data)
	// start sAddInfo
	+b.SECTION.sAddInfo.section#sAddInfo&attributes(attributes)
		.container
			+b.section-title
				h2
					| Дополнительная
					|
					span информация
			+b.tabs.row.sAddInfo-dd-group-js
				.col-md-6.col-lg-5.d-none.d-md-block
					+sAddInfoTabsBtn('Справка о компании')
					+sAddInfoTabsBtn('Выполненные проекты', 'active')
					+sAddInfoTabsBtn('Информация для заказчиков')
					+sAddInfoTabsBtn('Отзывы клиентов')
				+e.wrap.col-md-6.col-lg-7
					+sAddInfoTabsBtnContent('1', 'Справка о компании')
					+sAddInfoTabsBtnContent('', 'Выполненные проекты', 'active')
					+sAddInfoTabsBtnContent('3', 'Информация для заказчиков')
					+sAddInfoTabsBtnContent('4', 'Отзывы клиентов')

	// end sAddInfo

mixin sAddInfoTabsBtn(txt, addClasses='')
	+e.btn(class=addClasses)=txt

mixin sAddInfoTabsBtnContent(num='', txt, addClasses='')
	+e.dd-item(class=addClasses)
		+e.mob-btn.dd-head-js.d-md-none=txt
		.dd-content-js(class=addClasses)
			+e.content(class=addClasses)
				+e.txt
					p=`Производство еврофургонов, эвакуаторов и самосвалов на базе машин отечественных и зарубежных марок, удлинение грузовых автомобилей, а также установка пневмоподвески.${num}`
				.text-md-end
					+e.more-btn(href="#") Подробнее